
.outer{
    position: absolute;
    left:200px;
    height:500px;
    width:1000px;
    background-color: aliceblue;
    border-radius: 10px;
    z-index:10;
    display: flex;
    box-shadow: 15px 15px 0 0 black;
}

#top-text{
    z-index:11;
    color:cadetblue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    position:relative;
    top:10px;
    left:30px;
}
input[type=text]{
    position: absolute;
    width:40%;
    top:20px;
    right:150px;
    height:40px;
    border-radius: 5px;
    border:1px solid white;
    outline:none;
    padding:5px;
    transition: 0.2s;
    margin:5px 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
input[type=text]:focus{
    border-color:cadetblue;
    box-shadow: 0 0 5px 0 cadetblue;

}

.btn{
    border:0px solid cadetblue;
    background:none;
    padding:10px 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    width:100px;
    top:26px;
    right:40px;
    transition: 0.8s;
    overflow:hidden;
    background-color: white;
    z-index:0;
}

.btn1,.Submit{
    color:cadetblue;
}

.btn1:hover,.Submit:hover{
    color:white;
}
.btn::before,.Sub::before{
    content: '';
    left:0;
    right:0;
    width:100%;
    height:0%;
    background-color: cadetblue;
    z-index: -1;
    position:absolute;
    transition: 0.8s;
}

.btn1::before,.Submit::before{
    top:0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before,.Submit:hover::before{
    height:180%;
}

.line{
    height: 5px;
    width:93%;
    background-color:cadetblue;
    position: absolute;
    top:100px;
    left:30px;
    border-radius: 5px;
}

.Guide{
    position:absolute;
    left:30px;
    top:100px;
}
.GuideText{
    font-family: 'Courier New', Courier, monospace;
    color:cadetblue;
}
.below-outer1{
    display: flex;
    overflow-y:scroll;
    position: absolute;
    background-color: white;
    height: 320px;
    width:93%;
    left:30px;
    top:150px;
    border-radius: 10px;
}

.Domains{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    height:50px;
    width:auto;
    padding:10px;
    margin:20px 20px;
    border-radius: 10px;
    border:1px solid cadetblue;
}
.Domains:hover{
    background-color: cadetblue;
    color:white;
}

.Submission{
    position:absolute;
    display: flex;
    bottom:0px;
}
.Sub{
    border:0px solid cadetblue;
    background:none;
    padding:10px 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    width:100px;
    bottom:20px;
    left:650px;
    transition: 0.8s;
    overflow:hidden;
    background-color: white;
    z-index:0;
}
